In [1]:
import numpy as np
import pandas 
import csv

In [2]:
data = pandas.read_csv("MarketingLeadsPipelineFact.csv")

In [3]:
DataDes = data.describe()
print(DataDes)

           zCUSTKEY  Sales Opportunity Amount  zMarketingCampaignID  \
count  60671.000000              60671.000000          60671.000000
mean   12494.663150               6647.511748           1136.701703
std     7220.099019               3840.734290            655.663266
min        1.000000                 13.733333              1.000000
25%     6239.000000               3320.593333            571.000000
50%    12465.000000               6644.893333           1140.000000
75%    18755.000000               9967.473333           1702.000000
max    25000.000000              13333.160000           2269.000000

       Marketing Leads  Sales Opportunity Age  Sales Won/Lost  Sales Won-Open  \
count          60671.0           60671.000000         20641.0         33462.0
mean               1.0              35.508645             1.0             1.0
std                0.0              49.102275             0.0             0.0
min                1.0               0.000000             1.0             1.0
25%                1.0              11.000000             1.0             1.0
50%                1.0              22.000000             1.0             1.0
75%                1.0              41.000000             1.0             1.0
max                1.0             360.000000             1.0             1.0

       Sales Closed       zEMPKEY  Sales Stage num
count  60671.000000  60671.000000     60671.000000
mean       0.788680   6047.691714         4.028597
std        0.408248    630.301545         1.302186
min        0.000000   5001.000000         2.000000
25%        1.000000   5510.000000         3.000000
50%        1.000000   6261.000000         5.000000
75%        1.000000   6567.000000         5.000000
max        1.000000   6806.000000         5.000000

In [4]:
print(data.isnull().any())
datanull = data.isnull().any()

Sales Pipeline Date         False
OPP ID                       True
zCUSTKEY                    False
Sales Opportunity Amount    False
zMarketingCampaignID        False
Sales Opp Status            False
Marketing Leads             False
Sales Opportunity Age       False
Competitor                  False
Sales Won/Lost               True
Sales Won-Open               True
zQUOTAKEY                   False
Sales Closed                False
zEMPKEY                     False
Sales Stage num             False
Sales Stage                 False
dtype: bool

In [5]:
print(datanull)

Sales Pipeline Date         False
OPP ID                       True
zCUSTKEY                    False
Sales Opportunity Amount    False
zMarketingCampaignID        False
Sales Opp Status            False
Marketing Leads             False
Sales Opportunity Age       False
Competitor                  False
Sales Won/Lost               True
Sales Won-Open               True
zQUOTAKEY                   False
Sales Closed                False
zEMPKEY                     False
Sales Stage num             False
Sales Stage                 False
dtype: bool

In [6]:
#Showing result of null informatin
print(data['Sales Won/Lost'])
print(data['Sales Won/Lost'].isnull())

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
60641   NaN
60642   NaN
60643   NaN
60644   NaN
60645   NaN
60646   NaN
60647   NaN
60648   NaN
60649   NaN
60650   NaN
60651   NaN
60652   NaN
60653   NaN
60654   NaN
60655   NaN
60656   NaN
60657   NaN
60658   NaN
60659   NaN
60660   NaN
60661   NaN
60662   NaN
60663   NaN
60664   NaN
60665   NaN
60666   NaN
60667   NaN
60668   NaN
60669   NaN
60670   NaN
Name: Sales Won/Lost, Length: 60671, dtype: float64
0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
60641    True
60642    True
60643    True
60644    True
60645    True
60646    True
60647    True
60648    True
60649    True
60650    True
60651    True
60652    True
60653    True
60654    True
60655    True
60656    True
60657    True
60658    True
60659    True
60660    True
60661    True
60662    True
60663    True
60664    True
60665    True
60666    True
60667    True
60668    True
60669    True
60670    True
Name: Sales Won/Lost, Length: 60671, dtype: bool

In [7]:
data.head()

,Sales Pipeline Date,OPP ID,zCUSTKEY,Sales Opportunity Amount,zMarketingCampaignID,Sales Opp Status,Marketing Leads,Sales Opportunity Age,Competitor,Sales Won/Lost,Sales Won-Open,zQUOTAKEY,Sales Closed,zEMPKEY,Sales Stage num,Sales Stage
0,1/1/2018,NaN,13696,6250.553333,1343,Lost,1,0,None,NaN,NaN,6157-Jan 2013,1,6157,5,Committed
1,1/1/2018,OPP000002,19618,6286.033333,664,Lost,1,0,Comp5,NaN,NaN,6288-Jan 2013,1,6288,5,Committed
2,1/2/2018,OPP000003,20680,9204.166667,1966,Lost,1,1,Comp1,NaN,NaN,5023-Jan 2013,1,5023,5,Committed
3,1/3/2018,OPP000004,4392,6133.073333,154,Lost,1,2,Comp1,NaN,NaN,5503-Jan 2013,1,5503,5,Committed
4,1/3/2018,OPP000005,8006,8275.286667,2020,Lost,1,2,None,NaN,NaN,6790-Jan 2013,1,6790,5,Committed

In [8]:
#new_file=open("newfile.txt",mode="w",encoding="utf-8")

In [9]:
#new_file=write(datanull)

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60671 entries, 0 to 60670
Data columns (total 16 columns):
Sales Pipeline Date         60671 non-null object
OPP ID                      60670 non-null object
zCUSTKEY                    60671 non-null int64
Sales Opportunity Amount    60671 non-null float64
zMarketingCampaignID        60671 non-null int64
Sales Opp Status            60671 non-null object
Marketing Leads             60671 non-null int64
Sales Opportunity Age       60671 non-null int64
Competitor                  60671 non-null object
Sales Won/Lost              20641 non-null float64
Sales Won-Open              33462 non-null float64
zQUOTAKEY                   60671 non-null object
Sales Closed                60671 non-null int64
zEMPKEY                     60671 non-null int64
Sales Stage num             60671 non-null int64
Sales Stage                 60671 non-null object
dtypes: float64(3), int64(7), object(6)
memory usage: 7.4+ MB
None

In [11]:
df = pandas.DataFrame(data=data)
df.dtypes

Sales Pipeline Date          object
OPP ID                       object
zCUSTKEY                      int64
Sales Opportunity Amount    float64
zMarketingCampaignID          int64
Sales Opp Status             object
Marketing Leads               int64
Sales Opportunity Age         int64
Competitor                   object
Sales Won/Lost              float64
Sales Won-Open              float64
zQUOTAKEY                    object
Sales Closed                  int64
zEMPKEY                       int64
Sales Stage num               int64
Sales Stage                  object
dtype: object

In [12]:
df.isnull().values.any()

True

In [13]:
SumNullValues = df.isnull().sum()
print(SumNullValues)

Sales Pipeline Date             0
OPP ID                          1
zCUSTKEY                        0
Sales Opportunity Amount        0
zMarketingCampaignID            0
Sales Opp Status                0
Marketing Leads                 0
Sales Opportunity Age           0
Competitor                      0
Sales Won/Lost              40030
Sales Won-Open              27209
zQUOTAKEY                       0
Sales Closed                    0
zEMPKEY                         0
Sales Stage num                 0
Sales Stage                     0
dtype: int64

In [14]:
TotalMissingVal = df.isnull().sum().sum()
print(TotalMissingVal)

67240

In [17]:
csv.register_dialect('myDialect',
quoting=csv.QUOTE_ALL,
skipinitialspace=True)

In [18]:
with open('Te1t.csv', 'w') as f:
    writer = csv.writer(f, dialect='myDialect')
    for row in TotalMissingVal:
        writer.writerow(row)

f.close()

TypeError: 'numpy.int64' object is not iterable

In [ ]:
# make a list of the header row and strip up to the 4th letter. This is the location and year information
cols1 = list(data.columns)
cols1 = [str(x)[:4] for x in cols1]
# make another list of the first row,this is the age group information
# we need to preserve this information in the column name when we reshape the data 
cols2 = list(data.iloc[0,:])
cols2 = [str(x) for x in cols2]
# now join the two lists to make a combined column name which preserves our location, year and age-group information
cols = [x+"_"+y for x,y in zip(cols1,cols2)]
# Assign new column names to the dataframe
data.columns = cols
data.head(1)

In [ ]:
data.info()

In [ ]:
#resharpe functio
# Now define a function for doing the reshape
def ReshapeFunc(excel_obj, i):
    """ Takes in an excel file object with multiple tabs in a wide format, and a specified index of the tab to be parsed and reshaped. Returns a data frame of the specified tab reshaped to long format"""

    tabnames = data.sheet_names
    assert i < len(tabnames), "Your tab index exceeds the number of available tabs, try a lower number" 
    
    # parse and clean columns
    df = excel_obj.parse(sheetname=tabnames[i], skiprows=7)
    cols1 = [str(x)[:4] for x in list(df.columns)]
    cols2 = [str(x) for x in list(df.iloc[0,:])]
    cols = [x+"_"+y for x,y in zip(cols1,cols2)]
    df.columns = cols
    df = df.drop(["Unna_nan"], axis=1).iloc[1:,:].rename(columns={'dist_nan':'district',                                   'prov_nan': 'province',                                                       'part_nan':'partner',                                                       'fund_nan':'financing_source'})
    # new columns, drop some and change data type
    df['main_organization'] = tabnames[i].split("_")[0] + " "+ tabnames[i].split("_")[1]
    df.drop([c for c in df.columns if "Total" in c], axis=1, inplace= True) 
    
    for c in [c for c in df.columns if "yrs" in c]:
        df[c] = df[c].apply(lambda x: pd.to_numeric(x))
    # reshape - indexing, pivoting and stacking
    idx = ['district','province', 'partner','financing_source'
,'main_organization']
    multi_indexed_df = df.set_index(idx)
    stacked_df = multi_indexed_df.stack(dropna=False)
    long_df = stacked_df.reset_index()
    
    # clean up and finalize
    col_str = long_df.level_5.str.split("_") 
    long_df['target_year'] = [x[0] for x in col_str] 
    long_df['target_age'] = [x[1] for x in col_str]
    long_df['target_quantity'] = long_df[0] # rename this column
    df_final = long_df.drop(['level_5', 0], axis=1)
    return df_final

In [ ]:
# Check that our function works:
check_df = ReshapeFunc(data, 2)
check_df.head(2)

In [ ]:
dfs_list = [ReshapeFunc(data, i) for i in range(4)]
concat_dfs  = pd.concat(dfs_list)
concat_dfs.to_excel("reshaping_result_long_format.xlsx")